<!DOCTYPE HTML>
<html>
<head>
<title>Kontak - Jihantoro.net</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kontak, rubi jihantoro, blog, Programming, Cooking, Writing and Eating" />
<meta property="og:title" content="Kontak - Jihantoro.net" />
<meta property="og:description" content="Kontak Rubi jihantoro" />
<meta property="og:type" content="blog" />
<meta property="og:url" content="http://jihantoro.net/kontak" />
<meta property="og:image" content="/me.jpg" />
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="header" id="ban">
    <div class="container">
      <div class="head-left">
        <div class="header-search">
            <div class="search">
              <input class="search_box" type="checkbox" id="search_box">
              <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
              <div class="search_form">
                <form action="#" method="post">
                  <input type="text" name="Search" placeholder="Search...">
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
        </div>
      </div>
      <div class="header_right">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <nav class="link-effect-7" id="link-effect-7">
            <ul class="nav navbar-nav">
              <li><a href="/">Beranda</a></li>
              <li><a href="/kategori/programming">Programming</a></li>
              <li><a href="/kategori/resep-masakan">Resep Masakan</a></li>
              <li><a href="/kategori/berita">Berita</a></li>
              <li><a href="/kategori/cerita">Cerita</a></li>
              <li><a href="/tentang">Tentang</a></li>
              <li><a href="/kontak">Kontak</a></li>
            </ul>
          </nav>
        </div>
      </nav>
      </div>
      <div class="nav navbar-nav navbar-right social-icons">
          <ul>
            <li><a href="//facebook.com/real.jihantoro/"> </a></li>
            <li><a href="https://www.linkedin.com/in/rubi-jihantoro/" class="in"> </a></li>
          </ul>
        </div>
      <div class="clearfix"> </div> 
    </div>
  </div>

  <div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo" style="padding: 10px 2em !important;">
      <div class="single">
         <img src="/me.jpg" class="img-responsive" alt="Gambar dari website rubi jihantoro">
          <div class="b-bottom"> 
            <h5 class="top">Selamat datang</h5>
           <p class="sub">Halo, nama saya Rubi Jihantoro, dengan mudah anda bisa menghubungi saya melalui telegram @jihantoro ataupun gitter @codenoid, terimakasih ^^.</p>
        </div>
       </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-3 technology-right">
        <div class="blo-top1">
          <div class="tech-btm">
          <div class="search-1">
              <form action="/search" method="post">
                <input name="what" type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
                <input type="submit" value=" ">
              </form>
            </div>
            <h4>Popular Posts </h4>
            <div class="popost">

            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- technology-right -->
  </div>
</div>
<div class="footer">
    <div class="container">
      <div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <h4>About Me</h4>
        <p>An homie software engineer.</p>
        <img src="/images/t4.jpg" class="img-responsive" alt="">
          <div class="bht1">
            <a href="https://github.com/codenoid/">Read More</a>
          </div>
      </div>
      <div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
      <h4>Link</h4>
      <div class="mid-btm">
        <p>github : @codenoid, twitter : @codenoid, gitter : @codenoid</p>
      </div>
    
      </div>
      <div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <h4>Newsletter</h4>
        <p>Dapatkan pemberitahuan terbaru mengenai blog ini</p>
            <div class="name">
              <form action="/subs" method="post">
                <input name="name" type="text" placeholder="Nama kamu" required="">
                <input name="email" type="text" placeholder="Email kamu" required="">
                <input type="submit" value="Subscribed Now">
              </form>
            </div>  
              <div class="clearfix"> </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <p>© 2017 Jihantoro.net</p>
        </div>
      </div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var pop = '<%= pop %>';
  var ndt = pop.split(":`:");
  for (var i = 0; i < ndt.length-1; i++) {
    var dt = ndt[i].split("(`,`)");
    $('.popost').append('<div class="blog-grids"><div class="blog-grid-left"><a href="/baca/'+dt[3]+'"><img src="/uploads/images/'+dt[2]+'" class="img-responsive" alt=""></a></div><div class="blog-grid-right"><h5><a href="/baca/'+dt[3]+'">'+dt[0]+'</a> </h5></div><div class="clearfix"> </div></div>');
  }
})
</script>
</body>
</html>