<!DOCTYPE HTML>
<html>
<head>
<title><%= post[0] %> - Jihantoro.net</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<%= post[0] %>, rubi jihantoro, blog, Programming, Cooking, Writing and Eating" />
<meta property="og:title" content="<%= post[0] %> - Jihantoro.net" />
<meta property="og:description" content="<%= post[1][0...160] %>" />
<meta property="og:type" content="blog" />
<meta property="og:url" content="http://jihantoro.net/baca/<%= id %>" />
<meta property="og:image" content="http://jihantoro.net/uploads/images/<%= post[2] %>" />
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="header" id="ban">
    <div class="container">
      <div class="head-left">
        <div class="header-search">
            <div class="search">
              <input class="search_box" type="checkbox" id="search_box">
              <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
              <div class="search_form">
                <form action="#" method="post">
                  <input type="text" name="Search" placeholder="Search...">
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
        </div>
      </div>
      <div class="header_right">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <nav class="link-effect-7" id="link-effect-7">
            <ul class="nav navbar-nav">
              <li><a href="/">Beranda</a></li>
              <li><a href="/kategori/programming">Programming</a></li>
              <li><a href="/kategori/resep-masakan">Resep Masakan</a></li>
              <li><a href="/kategori/berita">Berita</a></li>
              <li><a href="/kategori/cerita">Cerita</a></li>
              <li><a href="/tentang">Tentang</a></li>
              <li><a href="/kontak">Kontak</a></li>
            </ul>
          </nav>
        </div>
      </nav>
      </div>
      <div class="nav navbar-nav navbar-right social-icons">
          <ul>
            <li><a href="//facebook.com/real.jihantoro/"> </a></li>
            <li><a href="https://www.linkedin.com/in/rubi-jihantoro/" class="in"> </a></li>
          </ul>
        </div>
      <div class="clearfix"> </div> 
    </div>
  </div>

  <div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo" style="padding: 10px 2em !important;">
      <div class="single">
         <img src="/uploads/images/<%= post[2] %>" class="img-responsive" alt="Gambar dari <%= post[0] %>">
          <div class="b-bottom"> 
            <h5 class="top"><%= post[0] %></h5>
           <p class="sub"><%= post[1] %></p>
            <p>On <%= Time.parse(date.to_s, "%Y-%m-%d").to_s("%d %b %Y") %></p>
            <!-- <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a>
            <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p> -->
        </div>
       </div>
        <div class="response comm">
          <h4>Responses</h4>
        </div>  
        <div class="coment-form">
          <h4 title="Kirim kan komentar mu untuk memperbaiki negeri ini">Kirimkan Komentarmu</h4>
          <form action="#" method="post">
            <input type="text" value="Name " name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" name="content" required="">Your Comment...</textarea>
            <input type="submit" value="Submit Comment">
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-3 technology-right">
        <div class="blo-top1">
          <div class="tech-btm">
          <div class="search-1">
              <form action="/search" method="post">
                <input name="what" type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
                <input type="submit" value=" ">
              </form>
            </div>
            <h4>Popular Posts </h4>
            <div class="popost">

            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- technology-right -->
  </div>
</div>
<div class="footer">
    <div class="container">
      <div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <h4>About Me</h4>
        <p>An homie software engineer.</p>
        <img src="/images/t4.jpg" class="img-responsive" alt="">
          <div class="bht1">
            <a href="https://github.com/codenoid/">Read More</a>
          </div>
      </div>
      <div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
      <h4>Link</h4>
      <div class="mid-btm">
        <p>github : @codenoid, twitter : @codenoid, gitter : @codenoid</p>
      </div>
    
      </div>
      <div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <h4>Newsletter</h4>
        <p>Dapatkan pemberitahuan terbaru mengenai blog ini</p>
            <div class="name">
              <form action="/subs" method="post">
                <input name="name" type="text" placeholder="Nama kamu" required="">
                <input name="email" type="text" placeholder="Email kamu" required="">
                <input type="submit" value="Subscribed Now">
              </form>
            </div>  
              <div class="clearfix"> </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <p>© 2017 Jihantoro.net</p>
        </div>
      </div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
function getDuration(seconds) {
  var epoch, interval;
var DURATION_IN_SECONDS = {
  epochs: ['year', 'month', 'day', 'hour', 'minute'],
  year: 31536000,
  month: 2592000,
  day: 86400,
  hour: 3600,
  minute: 60
};
  for (var i = 0; i < DURATION_IN_SECONDS.epochs.length; i++) {
    epoch = DURATION_IN_SECONDS.epochs[i];
    interval = Math.floor(seconds / DURATION_IN_SECONDS[epoch]);
    if (interval >= 1) {
      return {
        interval: interval,
        epoch: epoch
      };
    }
  }
};
function timeSince(date) {
  var seconds = Math.floor((new Date() - new Date(date)) / 1000);
  var duration = getDuration(seconds);
  var suffix = (duration.interval > 1 || duration.interval === 0) ? 's' : '';
  return duration.interval + ' ' + duration.epoch + suffix;
};
  var pop = '<%= pop %>';
  var ndt = pop.split(":`:");
  for (var i = 0; i < ndt.length-1; i++) {
    var dt = ndt[i].split("(`,`)");
    $('.popost').append('<div class="blog-grids"><div class="blog-grid-left"><a href="/baca/'+dt[3]+'"><img src="/uploads/images/'+dt[2]+'" class="img-responsive" alt=""></a></div><div class="blog-grid-right"><h5><a href="/baca/'+dt[3]+'">'+dt[0]+'</a> </h5></div><div class="clearfix"> </div></div>');
  }
  var comments = '<%= comments %>';
  var cdata = comments.split(":`:");
  for (var i = 0; i < cdata.length-1; i++) {
    var rd = cdata[i].split("(`,`)");
    $('.comm').append('<div class="media response-info"><div class="media-body response-text-left"><i a="'+rd[4]+'">'+rd[1]+'</i><ul><li>By '+rd[0]+' on '+timeSince(rd[3])+'</li></ul></div><div class="clearfix"> </div></div>');
  }
})
</script>
</body>
</html>